.container {
  position: relative;
}

.container .popover {
  display: none;
  position: absolute;
  padding: 8px 12px;
  background-color: black;
  color: white;
  top: 100%;
  left: 0;
  border-radius: 6px;
  font-size: 14px;
  white-space: pre;
  margin-top: 5px;
  font-family: sans-serif;
  z-index: 999;
}

.container:hover .popover {
  display: block;
}

.container .popover:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: absolute;
  top: -5px;
}
