.editor {
  margin-top: 16px;
  border: none;
  width: 100%;
  padding: 0;
  color: #233477;
  font-family: sans-serif;
  position: relative;
}
.placeholder {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  user-select: none;
}
.editor p {
  margin: 18px 0px;
  line-height: 1.5;
}
.editor:focus {
  outline: 0;
}
