.holder {
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 8px;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 18px;
  border: solid 1px black;
  background-color: white;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
  z-index: 2;
  padding-top: 6px;
}

.dropdown > div {
  border-radius: 6px;
  border: solid 1px black;
  background-color: white;
  overflow: hidden;
}

.dropdown button {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 5px 12px;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #ccc;
}

.selected {
  white-space: pre;
  font-family: sans-serif;
}
