/* Input box styles */

.textyle_link-button-input {
  margin-top: 24px;
}

.textyle_link-button-input > input {
  width: calc(100% - 24px);
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

/* Input box focus styles */
.textyle_link-button-input > input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Placeholder text styles */
.textyle_link-button-input > input::placeholder {
  color: #999;
}

/* Label styles */
.textyle_link-button-input > label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

/* Error styles */
.textyle_link-button-input.error input {
  border-color: #ff0000;
}

.textyle_link-button-input.error > label {
  color: #ff0000;
}

/* Error message styles */
.textyle_link-button-input.error .error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}

/* Submit Button styles */
.textyle_link-button-submitButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Submit button hover styles */
.textyle_link-button-submitButton:hover {
  background-color: #0056b3;
  border: solid 1px #0056b3;
}

/* Submit button focus styles */
.textyle_link-button-submitButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Submit button disabled styles */
.textyle_link-button-submitButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Radio container styles */
.textyle_link-button-radioContainer {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

/* Radio input styles */
.textyle_link-button-radioContainer input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 7px;
  margin-left: 0;
  outline: none;
  cursor: pointer;
}

.textyle_link-button-radioContainer input[type="radio"]:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Radio input checked styles */
.textyle_link-button-radioContainer input[type="radio"]:checked {
  border-color: #007bff;
  background-color: #007bff;
}

/* Radio label styles */
.textyle_link-button-radioContainer label {
  margin-top: 4px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

/* Cancel Button styles */
.textyle_link-button-cancelButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cancel button hover styles */
.textyle_link-button-cancelButton:hover {
  background-color: black;
  color: white;
}

/* Cancel button focus styles */
.textyle_link-button-cancelButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
